<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--scope 切换单例模式或非单例模式-->
    <bean id="bookDao" class="com.pxy.dao.impl.BookDaoImpl" scope="prototype"></bean>
    <bean id="bookService" name="service service2" class="com.pxy.service.impl.BookServiceImpl">
        <!--ref是参照bean对应的-->
        <property name="bookDao" ref="bookDao"/>
    </bean>

</beans>